/* Import google font Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Overrides default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Use imported font for h1,h2,h3 */
h1, h2, h3, h4 {
    font-family: 'Bebas Neue', sans-serif;

}

/* Header content*/
header {
    background-color: rgb(68, 68, 76);
    display: flex;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    padding-left: 4px;
    align-items: center;
    color: rgb(215, 213, 213);
    box-shadow: 0 2px 2px black;
}

.menu {
    /*Remove the dots*/
    list-style-type: none;
    
}

.menu a{
    font-family: 'Bebas Neue', sans-serif;
    text-decoration-line: none;
    color: rgb(215, 213, 213);
    
}

/*Hiding the <nav> for use of the dropdown*/
nav {
    position: absolute;
    background-color: rgb(68, 68, 76);
    width: 100%;
    top: 100%;
    display: none;
    left: 0;
    padding-left: 4px;
}

/*Menu bar toggle*/
#menu-toggle:checked~nav {
    display: block;
}

#menu-toggle {
    display: none;
}
/* Hamburger placing*/
.menu-toggle-label {
    display: flex;
    padding-right: 10px;
    padding-left: 4px
}

/*Main content*/
main {
    background-color: rgb(90, 90, 94);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 38px;
    width: 100%;

}

.hero {
    height: 400px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center/cover;
}

.hero-text {
    color: rgb(215, 213, 213);
    padding-top: 55px;
    padding-left: 9vw;
    text-shadow: 2px 2px 2px black;
}

/* Index images */
.image_header {
    text-align: center;
    padding-top: 12px;
    color: rgb(215, 213, 213);
    /*padding-bottom: 2px;*/
}
.imagebox {
    padding: 12px;
}

.imagebox_text {
    color: rgb(215, 213, 213);
    text-align: center;
}
.index-images img {
    height: auto;
    width: 100%;
    display: block;
}

/*Services page*/
.service-header {
    text-align: center;
    padding-top: 4px;
    color: rgb(215, 213, 213);
    background-color: rgb(90, 90, 94);
}
.service_text  {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    color:rgb(215, 213, 213);
    border: 4px solid black;
    
}

#service_image {
    width: 50%;
    height: auto;
    border: 4px solid black;
}

.services {
    display: flex;
}

#service_image img {
    width:100%;
    display: block;
}

.services-reverse {
    display: flex;
    flex-direction: row-reverse;
}

/* Footer content*/
#social-network {
    background-color: rgb(68, 68, 76);
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-evenly;
    padding: 15px 0;
    width: 100%;
}

#social-network i {
    font-size: 130%;
    color: rgb(215, 213, 213);
}

/* Media query: Tablets and larger 768px */
@media screen and (min-width: 768px) {
    /*Changes to header */
    header {
        padding-left: 12px;
    }

    #logo {
        font-size: 300%;
    }
    /* Blocking of navigation under header*/
    nav {
        display: block;
        position: relative;
    }
    /* Showing of the menu in the header*/
    .menu {
        display: flex;
        padding-right: 100px;
        gap: 70px;
        justify-content: flex-end;
        
    }
    /*Hiding the burger*/
    .menu-toggle-label {
        display: none;
    }

    /*Changes to main*/
    main {
        margin-top: 57px;
    }

    .hero-text {
        padding-top: 9vw;
        padding-left: 10vw;
    }

    /*Changes for index images*/
    .index-images {
        display: flex;
    }

    /*Changes for services page*/
    .services, .services-reverse {
        margin-inline: auto;
        max-width: 600px; 
    }

    .service-header {
        display: none;
    }

    .service_text {
        font-size: 180%;
    }
}

/* Media query: Laptops and larger 992px */
@media screen and (min-width: 992px) {
     /*Changes to header */
     header {
        padding-left: 40px;
    }

    #logo {
        font-size: 500%;
    }

    .menu {
        font-size: 160%;
    }

    /*Changes to main*/
    main {
        margin-top: 96px;
    }

    .hero-text {
        padding-top: 6vw;
        padding-left: 15vw;
        font-size: 120%;
    }

}